h2 {
  margin-top: 8px;
}

.recent-projects {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: themed('size-4');
  overflow-y: auto;
  padding-top: themed('size-4');

  .project-card {
    padding: themed('size-4');
  }

  @include media('<=desktop') {
    grid-template-columns: repeat(3, minmax(250px, 1fr));
  }

  @include media('<=tablet') {
    grid-template-columns: repeat(2, minmax(150px, 1fr));
  }

  @include media('<=phone') {
    grid-template-columns: minmax(100px, 200px);
  }
}
