@forward 'include-media';
@forward '@janis.me/ui/styles';

@use 'sass:meta';

@use 'include-media' as *;

@use '@janis.me/ui/styles' as ui;
@use '@janis.me/ui/themes';

$colors: (
  'primary': #3d63dd,
  'gray': #121216,
  'info': #2563eb,
  'success': #16a34a,
  'warning': #d97706,
  'error': #dc2626,
);

@include ui.themes(themes.default-light($colors...), themes.default-dark($colors...));
@include ui.configure();

$breakpoints: (
  phone: 420px,
  tablet: 768px,
  desktop: 1024px,
  ultrawide: 2000px,
);
