.base-viewer {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  &--default {
    background-color: themed('color-surface');
  }

  &--dark {
    background-color: unthemed('color-surface', 'dark');
  }

  &--light {
    background-color: unthemed('color-surface', 'light');
  }

  &--pattern {
    $pattern-color: themed('color-border-light');

    background-color: themed('color-surface');
    background-image:
      repeating-linear-gradient(
        45deg,
        $pattern-color 25%,
        transparent 25%,
        transparent 75%,
        $pattern-color 75%,
        $pattern-color
      ),
      repeating-linear-gradient(
        45deg,
        $pattern-color 25%,
        themed('color-surface') 25%,
        themed('color-surface') 75%,
        $pattern-color 75%,
        $pattern-color
      );
    background-position:
      0 0,
      10px 10px;
    background-size: 20px 20px;
    background-repeat: repeat;
  }

  &__loading {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    height: 100%;
    width: 100%;

    span {
      color: themed('color-text-secondary');
    }

    &:has(.base-viewer__processing-effect) {
      span,
      p {
        z-index: 1;
      }
    }
  }

  .base-viewer__processing-effect {
    display: none;

    background: linear-gradient(45deg, #3d63dd, #3d95dd, #dd3d63, #95dd3d, #3d63dd);
    background-size: 300% 300%;
    animation: processing-gradient 3s ease-in-out infinite;
    filter: blur(50px);
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    z-index: -1;

    @keyframes processing-gradient {
      0%,
      100% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
    }
  }

  &--busy {
    .base-viewer__processing-effect {
      display: block;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    background-color: transparent;
    padding: themed('size-5');

    display: grid;
    grid-template-areas: 'file mode background' 'x zoom center-button';
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
    justify-content: end;
    gap: themed('size-5');
    z-index: 1;

    & > * {
      pointer-events: all;
    }
  }

  &__file-select__trigger {
    grid-area: file;
    min-width: 200px;
  }

  &__mode-switch {
    grid-area: mode;
  }

  &__background-switch {
    grid-area: background;
  }

  &__center-button {
    grid-area: center-button;
    align-self: end;
  }

  &__zoom-factor__trigger {
    grid-area: zoom;
    align-self: end;
  }

  &__mode-switch,
  &__background-switch {
    display: inline-flex;
    flex-direction: row;
    border: 1px solid themed('color-border');
    border-radius: themed('border-radius');
  }

  &__label {
    padding: themed('size-2');
    color: themed('color-text-primary');
    font-size: 0.8em;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: min-content;

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--input {
      background-color: themed('color-error');
    }

    &--result {
      background-color: themed('color-interactive');
    }
  }
}
