.base-viewer {
  width: 100%;
  height: 100%;
  overflow: hidden;

  &__loading {
    display: flex;
    justify-content: center;
    flex-flow: column;
  }

  &__overlay {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    background-color: transparent;
    padding: themed('size-4');

    display: flex;
    justify-content: end;
    z-index: 1;
  }

  &__mode-switch {
    display: inline-flex;
    pointer-events: all;
    flex-direction: row;
    height: min-content;
    border: 1px solid themed('color-border');
  }

  &__label {
    padding: themed('size-2');
    color: themed('color-text-primary');
    font-size: 0.8em;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--input {
      background-color: themed('color-error');
    }

    &--result {
      background-color: themed('color-interactive');
    }
  }
}
