.split-view {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;

  &__item {
    position: absolute;
    top: 0;
    left: 0;

    &:first-of-type {
      z-index: 1;

      .split-view__container {
        overflow: hidden;
      }
    }
  }

  &__handle {
    background-color: themed('color-border-light');
    width: themed('size-2');
    height: 100%;
    transform: translateX(200%);
  }

  .base-viewer__label {
    position: absolute;
    top: 0;
    max-width: 200px;
    padding: themed('size-3') themed('size-4');
    font-size: 0.8em;

    span {
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--input {
      transform: translate(-100%, -100%);
    }

    &--result {
      transform: translateY(-100%);
    }
  }
}
