.split-view {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;

  &__item {
    height: 100% !important;

    &:first-of-type {
      z-index: 1;

      .split-view__container {
        overflow: hidden;
      }
    }

    &:last-of-type {
      position: absolute;
      overflow: hidden;
      right: 0;
      width: auto;

      .split-view__container {
        img {
          display: block;
          float: right;
        }
      }
    }
  }

  &__handle {
    background-color: themed('color-border-light');
    width: themed('size-2');
    height: 100%;
    transform: translateX(200%);
  }

  .base-viewer__label {
    position: absolute;
    top: 0;
    padding: themed('size-3') themed('size-4');
    font-size: 0.8em;
    display: flex;
    gap: themed('size-3');

    span {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &--input {
      transform: translate(-100%, -100%);
    }

    &--result {
      transform: translateY(-100%);
    }
  }
}
