.split-view {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;

  &__item {
    position: absolute;
    top: 0;
    left: 0;

    &:first-of-type {
      z-index: 1;
      overflow: hidden;
    }
  }

  &__handle {
    $handle-grabber-height: 8px;

    background-color: themed('color-primary-600');
    clip-path: polygon(
      25% 0%,
      75% 0%,
      75% calc(100% - $handle-grabber-height),
      100% 100%,
      0 100%,
      25% calc(100% - $handle-grabber-height)
    );
  }
}
