@use 'sass:color';

.home {
  height: 100%;
  width: 100%;
  margin: auto;
  overflow: auto;

  scroll-snap-type: y mandatory;

  &__header {
    position: relative;
    padding: 0 themed('size-8');
    border-bottom: 1px solid themed('color-border-light');
    height: calc(100vh - themed('size-7'));
    background: linear-gradient(
      135deg,
      themed('gray-3') 0%,
      themed('gray-2') 5%,
      themed('gray-1') 30%,
      themed('gray-1') 60%,
      themed('primary-1') 100%
    );

    scroll-snap-align: start;

    display: flex;
    align-items: center;
    flex-flow: column;

    overflow: hidden;

    &__chevron {
      background-color: themed('color-surface');
      border-radius: 9999px;
      width: max-content;
      height: max-content;
      padding: themed('size-4');
      position: absolute;
      bottom: themed('size-6');
      color: themed('color-interactive');
    }

    .animated-text-container {
      display: inline-block;
      position: relative;
      height: 1.2em;
      overflow: hidden;
      vertical-align: top;

      &:first-of-type {
        min-width: 10ch;

        .animated-text {
          animation: slideText 12s infinite;

          &:nth-child(1) {
            animation-delay: 0s;
          }
          &:nth-child(2) {
            animation-delay: 3s;
          }
          &:nth-child(3) {
            animation-delay: 6s;
          }
          &:nth-child(4) {
            animation-delay: 9s;
          }
        }
      }

      &:last-of-type {
        min-width: 8ch;

        .animated-text {
          animation: slideText 20s infinite;

          &:nth-child(1) {
            animation-delay: 0s;
          }
          &:nth-child(2) {
            animation-delay: 5s;
          }
          &:nth-child(3) {
            animation-delay: 10s;
          }
          &:nth-child(4) {
            animation-delay: 15s;
          }
        }
      }
    }

    .animated-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      opacity: 0;
      transform: translateY(100%);
    }

    @include media('<=desktop') {
      padding: 0 themed ('size-7');
    }

    @include media('<=tablet') {
      padding: themed('size-4') themed('size-6');

      .home__title {
        margin: themed('size-6') 0 themed('size-4');
        font-size: 2em;
      }

      .home__subtitle {
        font-size: 1.2rem;
        margin-bottom: themed('size-6');

        &__extra {
          display: none;
        }
      }
    }

    @include media('<=phone') {
      padding: themed('size-2') themed('size-5');

      .home__title {
        margin: themed('size-5') 0 themed('size-3');
      }

      .home__subtitle {
        margin-bottom: themed('size-6');
      }
    }
  }

  &__title {
    margin: themed('size-7') 0 themed('size-5');
    font-size: 3em;
    font-weight: 800;
    text-align: center;
  }

  .highlight {
    background: linear-gradient(135deg, themed('primary-9'), themed('primary-8'));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }

  &__subtitle {
    color: themed('color-text-secondary');
    margin-bottom: themed('size-7');
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;
  }

  &__dropzone {
    position: relative;
    margin-bottom: themed('size-7');
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;

    .drop-area {
      width: 100%;
    }
  }

  &__info-badge {
    background-color: themed('color-surface');
    border: 1px solid themed('color-border-light');
    border-radius: themed('border-radius');
    padding: themed('size-4') themed('size-6');
    display: flex;
    align-items: center;
    gap: themed('size-4');
    margin-bottom: themed('size-7');
  }

  &__features {
    height: calc(100vh - themed('size-7'));
    padding: themed('size-8');
    text-align: center;

    scroll-snap-align: start;
  }
}

@keyframes slideText {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  8.33% {
    opacity: 1;
    transform: translateY(0);
  }
  25% {
    opacity: 1;
    transform: translateY(0);
  }
  33.33% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
